/*Entire Website*/
body{
  background-color: #FFF05C;
}
.btnAll>button{
  border: 0px;
}

/*Indivisual Page*/
.topHeader{
  width: 100%;
}
.websiteName{
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  left : 9px;
}

.logo pos($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}

#logo{
  left : 9px;
  top : 1px;
  width : 70px;
  height : 179px;
}
.st1{
  fill:#FCB555;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}
.st0{
  fill:#FFFFFF;
  stroke:#000000;
  stroke-miterlimit:10;
}

.buttonIndexMenu{
  
  font-family: 'Fascinate', cursive;
  font-size:15px;
  width: 50px;
  color:green;
  }
.buttonIndexMenu1{

  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 70%;
  left: 20%;
}

.buttonIndexMenu2{
 
  background-color:transparent;
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 80%;
}

.bottonImage2{
 width:60px;
 height:60px;
}

.buttonAboutUsMenuIndex{
  background-color:greenyellow;
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
  top: 20%;
  left: 30%;
}